<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Leonardo DiCaprio</h1>
    <a href="/about.html">Über Ihn persönlich</a>
    <a href="/gallery.html">Filmografie</a>
    <a href="/works.html">Titelbilder seiner Filme</a>
    <img src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/aa3711e66f859a4e9564de192371590fe62c37e79a4a01f2b0ea2b89ade503ae._SX1080_.jpg"
        alt="">

</body>

</html>